/* start variables */
:root{
  --main-color:#2196f3;
  --alter-color:#1787e0;
  --transition-duration:0.3s ;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
  
}
/* end variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Cairo", sans-serif;
    background-color: white;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .main-title{
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
  }
  .main-title:hover{
    color: white;
    /* border: none; */
    transition-delay: 0.75s;
    border:2px solid transparent;
  }
  .main-title::before,
  .main-title::after{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    z-index: -2;
  }
  .main-title::before{
    left: -40px;
  }
  .main-title::after{
   right:-40px;
  }
  .main-title:hover::before{
    animation: left-move 0.75s forwards linear;
  }
  .main-title:hover::after{
    animation: right-move 0.75s forwards linear;
  }
  /* End Global Rules */
  
  /* start header. */
  header{
    position: relative;
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
  }
  header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }
  header .logo{
    font-size: 26px;
    color: var(--main-color);
    font-weight: bold;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media(max-width:767px){
    header .logo{
      width: 100%;
      margin: 0 auto 5px;
      height: 50px;
      font-size: 20px;
    }
  }
  header .main-nav{
    display: flex;
  }
  @media(max-width:767px){
    header .main-nav{
      margin: auto;
    }
  }
  header .main-nav > li > a {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    color: black;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    transition: var(--transition-duration);
  }
  @media(max-width:767px){
    header .main-nav > li > a {
      height: 40px;
    padding: 0 7px;
    font-size: 13px;
  }
  }
  header .main-nav > li > a::before {
    position: absolute;
    content: "";
    height: 5px;
    width: 100%;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--transition-duration);
  }
  header .main-nav > li > a:hover{
    color: var(--main-color);
    background-color: #fafafa;
  }
  header .main-nav > li > a:hover::before{
    left: 0;
  } 
  header .mega-menue{
    position: absolute;
    left: 0;
    background-color: white;
    z-index: -1;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    top: calc(100% + 50px );
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    opacity: 0;
    transition: opacity var(--transition-duration) , top var(--transition-duration);
  }
  header .main-nav > li:hover .mega-menue{
      opacity: 100%;
      z-index: 3;
      top: calc(100% + 1px );
  }
  @media (max-width:767px) {
    header .mega-menue{
      flex-direction: column;
      gap: 0;
    }
  }
  header .mega-menue img{
    max-width: 100%;
  }
  @media (max-width:991px) {
    header .mega-menue img{
      display: none;
    }
  }
  header .mega-menue .links{
    flex: 1;
  }
  @media (max-width:991px) {
    header .mega-menue .links:first-of-type li:last-child{
      border-bottom: 1px solid #77777757;
  }
}
  header .mega-menue li {
    border-bottom: 1px solid #77777757;
    min-width: 250px;
    position: relative;
    padding: 3px;
  }
  header .mega-menue li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    left: 0;
    top: 0;
    transition: var(--transition-duration);
  }
  header .mega-menue li:hover::before {
    width:100%;
  }
  header .mega-menue li i {
    color: var(--main-color);
    margin-right: 7px;
    
  }
  header .mega-menue li a {
    color: var(--main-color);
    margin: 15px 0;
    display: block;
  }
  /* end header. */
  /* start landing section */
  .landing{
    position: relative;
  }
  .landing::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: -40px;
    left: 0;
    background-color: #ececec;
    transform: skewY(-6deg);
    transform-origin: top left;
    z-index: -1; 
  }
  .landing .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100vh - 72px);
    padding-bottom: 120px;
  }
  @media(max-width:767px){
    .landing .container{
      min-height: calc(100vh - 95px);
    }
  }
  .landing .text-box{
    flex: 1;
    position: relative;
    margin: 0 40px 0 0;
  }
  @media(max-width:767px){
    .landing .text-box{
      text-align: center;
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
    }
  }
  .landing .text-box h1{
    text-transform: capitalize;
    font-size: 38px;
    margin-bottom: 0;
    letter-spacing: -1.5px;
  }
  @media(max-width:767px){
    .landing .text-box h1{
      font-size: 32px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  .landing .text-box p{
    width: 472px;
    text-transform: capitalize;
    color: #777;
    line-height: 1.1rem;
    margin: 20px 0;
    font-size: 20px;
  }
  @media(max-width:767px){
    .landing .text-box p{
      font-size: 25px;
      max-width: 100%;
      margin: 10px auto;
      line-height: 25px;
    }
  }
  .landing .container .image{
    width: 550px;
  }
  .landing .container .image img{
    width: 100%;
    position: relative;
    animation: up-to-down 3s linear infinite;
  }
  .landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
  }
  .landing .go-down:hover {
    color: var(--main-color-alt);
  }
  .landing .go-down i {
    animation: bouncing 1.5s infinite;
  }
  
  /* end landing section */
  /* start articles */
  .atricles{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
  }
  .atricles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
  }
  .atricles .container .box{
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: var(--transition-duration);
  }
  .atricles .container .box:hover{
    transform: translateY(-10px);
  }
  .atricles .container .box img{
    width: 100%;
    max-width: 100%;
  }
  .atricles .container .box .text{
    text-transform: capitalize;
    border-bottom: 1px solid #777;
  }
  .atricles .container .box h3{
    padding: 8px 20px;
  }
  .atricles .container .box p{
    font-size: 15px;
    line-height: 24px;
    color: #777;
    padding: 8px 20px;
  }
  .atricles .container .box .lower-section{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
  }
  .atricles .container .box .lower-section a{
    color: var(--main-color);
    text-transform: capitalize;
    font-weight: bold;
  }
  .atricles .container .box .lower-section i{
    color: var(--main-color);
    font-size: 20px;
    animation: to-right 1s linear infinite;
    animation-play-state: paused;
  }
  .atricles .container .box:hover  i{
    animation-play-state: running;
  }
  /* end articles */
  /* start gallery */
  .gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background)
  }
  .gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
   
  }
  .gallery .box{
    padding: 15px;
    background-color: white;
  }
  .gallery .container .box .image{
    position: relative;
    overflow: hidden;
  }
  .gallery .container .box .image::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255 255 255 / 20%);
    opacity: 0;
    z-index: 2;
  }
  .gallery .container .box .image:hover::before{
   animation: flashing 0.7s;
  }

  .gallery .container .box img{
    max-width: 100%;
    transition:var(--transition-duration); 
  }  
  .gallery .container .box .image:hover img{
     transform: rotate(5deg) scale(1.1);  
  }

  /* end gallery */
  /* start animation */
  @keyframes up-to-down {
    0%,100%{
      transform: translate(0px);
    }
    50%{
      transform: translatey(-40px);
    }
  }
  @keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40%,
    60% {
      transform: translateY(-15px);
    }
  }
  @keyframes left-move {
    50%{
      left: 0;
      width: 12px;
      height: 12px;  
    }
      100%{
      left: 0;
      width: 50%;
      height:100%;
      border-radius: 0;
    
      }
  }
  @keyframes right-move {
    50%{
      right: 0;
      width: 12px;
      height: 12px;  
    }
      100%{
      right: 0;
      width: 50%;
      height:100%;
      border-radius: 0;
    
      }
  }
  @keyframes to-right {
    0%,100%{
      transform: translateX(0px);
    }
    50%{
      transform: translateX(10px);
    }
  }
  @keyframes flashing {
    0%,40%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      width: 200%;
      height: 200%;
    }
  }
  /* end animation */